@media (min-width: 1024px){
  body{
    background-color: #121725;
    overflow: visible;
  }
  .frame-image img:first-child{
    display: none;
  }
  .frame-image img:last-child{
    display: block;
    width: 100%;
    height: 100%;
    margin-top: calc(100% - 85%);
    opacity: 0.9;
  }
  .frame-logo{
    width: 20%;
    background-color: #121725;
    height: 30vh;
    margin-left: 10%;
  }
  .frame-text{
    width: 63%;
    height: 100%;
    padding-top: 10%;
    margin-left: 14%;
  }
  .text-title h2:first-child{
    font-size: 52px;
  }
  .text-title h2:last-child{
    font-size: 52px;
  }
  p{
    width: 60%;
  }
  .plataforms{
    position: absolute;
    top: 80%;
    width: 38%;
    opacity: 0.8; 
  }
  .plataforms img:last-child{
    height: 100%;
  }
  .frame-input input{
    width: 60%;
  }
  .frame-input button{
    width: 12%;
    position: fixed;
    left: 29%;
  }
  .image-decoration{
    display: block;
    position: absolute;
    bottom: 10%;
    left: 84%;
  }
  .error-message{
    top: 80%;
    display: none;
  }
}