@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

:root{
  height: 100%;
}

body{
  height: 100%;
  font-family: 'Manrope', sans-serif;
  text-align: center;
  color: #293356;
}

/* Section top */

.top{
  height: 50%;
  background-image: url("/Challenges/Fourth/images/bg-pattern.svg");  
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 25%;
}

.title{
  height: 100%;
  min-width: 100%;
  background-image: url("/Challenges/Fourth/images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position-x: center;
}

.text{
  margin-top: 10%;
}

.text h2{
  font-size: 20px;
  font-weight: 800;
  line-height: 27px;
  margin-bottom: 2%;
}

.text p{
  font-size: 13px;
  font-weight: 600;
  line-height: 23px;
  color: #848EAD;
}

/* Section frame */

.frame{
  height: 60%;
  max-width: 88%;
  margin: auto;
  margin-top: -35%;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
}
